html, body {
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #faf6ea;
    font-family: 'Montserrat', sans-serif;
}


.header {
    display: flex;
    flex-direction: row;
    top: 0;
    left:0;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 20px;
}

.logo-image {
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

h1 {
    font-size: 64px;
}

.nav_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-right: 20px;
    min-width: 700px;
}

.nav {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #6AA4c9;
    color: white;
    width: 60%;
    max-width: 100%;
    text-align: center;
    word-spacing: 3.5vmax;
}

.group{
    text-align: left;
    padding-left: 30px;
    color: black;
}

a{
    color: white;
    text-decoration: none;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    font-size: 46px;
    padding: 30px;
}

.titles_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    right: 50px;
    justify-content: right;
    width: 100%;
    font-size: 46px;
    padding: 30px;
}

.line {
    display: flex;
    width: 70vw;
    height: 1px;
    background-color: black;
    margin-top: 40px;
}

.line_right {
    display: flex;
    justify-content: flex-end;
    width: 70vw;
    height: 1px;
    background-color: black;
    margin-top: 40px;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main_child {
    display: flex;
}

#left {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30px;
}

#left_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
    padding: 20px;
}


#left_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#logo_colour, #logo_white {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_colour {
    margin-bottom: 13px;
}

#left_right {
    width: 40%;
    height: 100%;
    padding: 20px 20px 20px 0px;
}

#left_right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#right {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

#wordmark {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 30%;
    padding: 40px;
}

#stacked, #horizontal {
    display: flex;
}

#stacked img {
    width: 80%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    margin-right: 30px;
} 

#horizontal img {
    width: 80%;
    height: 85%;
    object-fit: contain;
    overflow: hidden;
}

footer{
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: -250px;
}

.foot_div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.rainbow-stripes {
    width: 25%;
}

/* style html */


#colour, #typography, #iconography, #graphics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin-right: 20px;
}

.colour_child {
    display: flex;
}

#colour_right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#colour_left {
    width: 60%;
}


#colour img, #typography img, #iconography img, #graphics img, #type_rules img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#colour_left img {
    width: 90%;
    object-fit: contain;
    overflow: auto
}

#visual {
    justify-content: center;
    padding: 40px;
}

.visual {
    padding:50px;
}

#visual_examples {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-right: 20px;
    text-align: center;
}

#visual_examples p {
    text-align: center;
}

#hamburger_menu img {
    height:280px;
}


h1 {
    font-size: 32px;
    padding: 30px;
}


#typography_child, #icon_child, #graphics_child {
    display: flex;
}

#typography_left {
    width: 50%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#typography_right {
    width: 50%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

#typography_child {
    justify-content: center;
    align-items: center;
}

#typography_right img {
    width:60%;
}

#font_title {
    display:flex;
    flex-direction: row;
}

#font_cont,
#font_cont2 {
    display:flex;
    flex-direction: row;
    margin-left:50px;
    margin-top: 50px;
    margin-bottom: 70px;
}

#font_cont2 {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}

#typeface > p,
#textsize > p {
    font-size:38px;
}

#typeface,
#font_title,
#textsize_title {
    width:500px;
}

#textsize {
	display: grid;
	grid-template-rows: 80px 80px 80px;
	grid-template-columns: 150px 150px;
    align-items: center;
    width:500px;
}

#heading1,
#heading2,
#heading3,
#heading4,
#heading5 {
    width:350px;
}

#font_des {
    width:500px;
}

#heading1 p {
    font-size: 30px;
    vertical-align: text-top;
}

#heading2 p {
    font-size: 24px;
    vertical-align: text-top;
}

#heading3 p {
    font-size: 18px;
    vertical-align: text-top;
}

#heading4 p {
    font-size: 14px;
    vertical-align: text-top;
}

#heading5 p {
    font-size: 30px;
    vertical-align: text-top;
}


#icon_left {
    display: flex;
    width: 30%;
    margin-left: 60px;
    margin-right: 100px;
}

#icon_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#graphics_right {
    display: flex;
    width: 50%;
}

#graphics_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    width: 40%;
}

#page2_foot {
    margin-top: 100px;
}


/* Page 3 */

#content {
    width: 800px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
  }